.main {
    height: 100vh;
    background-color: yellow ;
    display: flex;
    justify-content: center;
}


.main .container {
    width: 80%;
    border: 1px solid;
    background-color: red;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main .container .greeting {
    display: flex;
   flex-direction: column;
}

.main .container .photo{
    height: 400px;
    width: 300px;
    background-color: #f2f2f2;
}

